html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: P22,Helvetica,Arial,sans-serif;
    color: #8C3F23;
    height: auto;
}

figure {
  display: inline-block;
  margin: 0 auto 20px auto;
  vertical-align:middle;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(auto, 75%);
    grid-template-areas: 
    "sidebar sidebar"
    "title mainphoto"
    "header content1"
    "content2 lastphoto";
    grid-gap: 1em;
    box-shadow: 3px 3px 3px darkgrey;
    border-style: solid;
    border-bottom-width: inherit;
    background-color: #0D0B09;
    height: 100%;
    min-width: 300px;
    width: 100%
}

.sidebar {
    grid-area: sidebar;
    list-style-type: none;
    text-align: justify;
    align-self: auto;
    line-height: 35px;
    border-style: solid;
    border-bottom-width: thin;
}

li {
    display: inline;
    padding: 20px;
    cursor: pointer;
}

.active {
    color: darkred;
}

nav {
    width: 100%;
    overflow: auto;

}

.title {
    grid-area: title;
    grid-column-end: span 2;
    padding: 25px;
    align-self:center;
    font-size: 15px;
}

.mainphoto {
    grid-area: mainphoto;
    text-align: center;
    padding-top: 40px;
}

.lastphoto {
    grid-area: lastphoto;
    text-align: center;
    padding-top: 40px;
}

.header {
    grid-area: header;
    align-self: start;
    text-align: center;
}

.content1 {
    grid-area: content1;
    padding-left: 10px;  
    padding: 10px 5px;
}

.content2 {
    grid-area: content2;  
    padding: 10px 5px;
}

.container div:nth-child(odd) {
    background-color: antiquewhite;
}
.container div:nth-child(even) {
    background-color: red;
}

.headline{ 
    font-family: Georgia, "Times New Roman", serif;
    color: #401C0F;
    background-repeat: no-repeat;
    height: 40px;
    text-shadow: 2px 2px red;
    font-size: 30px;
    border: 3px dotted antiquewhite;
    background-color: red;

}

h1 { line-height: 100%;
	background-repeat: no-repeat;
	background-position: right;
	padding: 4px 40px 20px 5px; 
	height: 120px;
	margin-bottom: 1px;
    text-align: left;
    color: #111111;
    font-style: oblique;
}

h1, h2 {
    background-color: rgb(185, 63, 8);
    align-self: flex-start;
}

h2 {
    color: antiquewhite; 
    font-family: Arial, sans-serif;
	margin: 5px;
    font-size: 30px;
    text-align: center;
    border: 3px dotted black;
    }

p {
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif;
    font-weight: 400;
    line-height: 1em;
    color: #3A4039;
    padding: 10px 10px;
    }

.chapterline {
        font-weight: 500;
        margin: 0;
        font-size: 2em;    
        color: antiquewhite;
        background-color: #8C3F23;
        font-style: oblique;
    }

@media screen and (min-width: 736px) {
    .container {
    display: grid;
    grid-template-columns: 1fr 575px 575px 1fr;
    grid-template-rows: minmax(auto, 75%);
    grid-template-areas: 
    ". sidebar sidebar ." 
    ". title mainphoto ."
    ". header content1 ."
    ". content2 lastphoto .";
    grid-gap: 1em;
    height: 100%;
    min-width: 300px;
    width: 100%;
    }
}
